.fade-inactive {
  opacity: 0;
  pointer-events: none;
}
.swiper-wrapper {
  a {
    display: block;
    width: 100%;
    > img {
      width: 100%;
    }
  }
  .swiper-slide {
  }
}
.ProseMirror {
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  outline: none;

  > p:first-child {
    margin-top: 0.5em;
  }

  > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0.5em;
    }
  }
}

.html-container {
  display: flex;
  flex-direction: column;
}
.html-container-root {
  padding: 24px 20px !important;
}